.contacts__title {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @black;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
}

.contacts__data {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @dark-gray;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;

  &-link {
    text-decoration: none;
    color: @dark-gray;
    border-bottom: 1px solid @email-turquoise;
  }
}

.contacts__button {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @dark-gray;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  text-transform: uppercase;
  background: @white;
  border-radius: 0;
  border: 2px solid @dark-gray;
}
