.page-footer {
  background: @footer-gray;
}

.social__item {
  list-style: none;
}

.social__link {
  text-decoration: none;

  &--instagram {
    background: @footer-gray url("../img/insta.svg") no-repeat center;
    width: 22px;
    height: 21px;
  }

  &--facebook {
    background: @footer-gray url("../img/fb.svg") no-repeat center;
    width: 15px;
    height: 28px;
  }

  &--twitter {
    background: @footer-gray url("../img/twitter.svg") no-repeat center;
    width: 23px;
    height: 20px;
  }
}

.copyright__text {
  font-family: "Open Sans", "Arial", sans-serif;
  color: @black;
  font-weight: bold;
  font-size: 19px;
  line-height: 18px;
}

.copyright__link {
  text-decoration: none;
  background: @footer-gray url("../img/htmlacademy.svg") no-repeat center;
  width: 27px;
  height: 24px;
}
