.page-footer {
  background: @footer-gray;
}

.page-footer__img {
  display: none;
}

.page-footer__copyright {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding-top: 29px;
  padding-bottom: 32px;
}
