.production__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @black;
  border: 1px solid @light-gray;
}

.production__content {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  color: @dark-gray;
  border: 1px solid @light-gray;
  border-top: none;
}
