.product__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 25px;
  line-height: 30px;
  color: @black;
}

.product__remark {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-transform: uppercase;
  color: @light-turquoise;
}

.product__content {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: @dark-gray;
}

.table-details {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  color: @dark-gray;
  text-align: left;
  border-collapse: collapse;
}

.table-details__row {
  border-bottom: 1px solid @light-gray;
}

.table-details__property {
  font-weight: normal;
}

.product__price {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: @dark-gray;
}

.button-menu {
  background-color: @white;
  border: 2px solid @dark-gray;
  border-radius: 0;

  &::after {
    background: url("../img/zigzag-line.svg");
  }
}

.button-menu__title {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: @dark-gray;
  text-transform: uppercase;
}
