.site-list__link {
  display: inline-block;
  text-decoration: none;
  color: @black;
  padding: 26px 24%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  width: 100%;
}

.site-list__item {
  list-style: none;
  box-shadow: 0 1px 0 @light-gray, inset 0 1px 0 @light-gray;
  max-height: 77px;
  width: 100%;
}

