.user-list__item {
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  box-shadow: 0 1px 0 @light-gray, inset 0 1px 0 @light-gray;
  max-height: 77px;
  vertical-align: middle;
}

.user-list__link {
  display: inline-block;
  text-decoration: none;
  color: @black;
  height: 100%;
  padding: 26px 15% 26px 24%;
  width: 100%;
}

.user-list__form {
  margin: 0;
  padding: 0;
  max-height: 77px;
  padding-top: 1px;
}

.user-list__search-title {
  display: inline-block;
  border: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  opacity: 1;
  color: @black;
  padding: 26px 15% 26px 24%;
  width: 100%;
}

.user-list__search-title[type="search"]::-moz-placeholder {
  color: @black;
}

.user-list__search-title[type="search"]::-webkit-input-placeholder {
  color: @black;
}
